@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #d6e2f0;
  font-family: "Specimen", sans-serif;
  line-height: 1.2;
   display: grid;
    min-height: 100vh;
    place-content: center;
}
/* Utilities */
.container {
  max-width: 370px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.card {
  background-color: white;
  color: black;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

/* style */

.qrcode img {
  width: 100%;
  border-radius: 10px;
}
.qrcode h2,
.qrcode p {
  text-align: center;
  padding: 5px 10px;
  margin: 10px 0;
}

.qrcode p {
  color: #7b879d;
  padding: 15px;
}
